@model MvcMovie_Tarquinio.Models.Reviews

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Review</h2>

<h3>Are you sure you want to delete "@ViewData["mTitle"]"?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Movie Review
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieReview)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
        <a class="btn btn-sm btn-success" asp-controller="Movies" asp-action="Details" asp-route-id="@ViewData["mID"]">Cancel</a>
    </form>
</div>
